.contenedorParrafos h2{
    text-align: center;
    color: black;
    margin: 30px;
    font-size: 40px;
    font-size: 1.25em;
    font-family:'Plus Jakarta Sans', sans-serif; 
    font-weight: 9s00;
    font-weight: bold;
}
.parrafos{
    margin: 50px;
    text-align: center;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 100;
}

.footer__escritos{
    background-color: blue;
    padding: 2px;
}
.footer__escritos ul{
    list-style: none;
    margin: 2px;
    padding: 2px;
     border: 1px blue;
    border-style: none;
    text-align: center;
    /* background-color: blue;
    bottom: 0;
    position: absolute;
    width: 100%; */
}
.footer__escritos ul li{
    display: inline-block;
    color: white;
    /* display: block;
    text-align: center;
    border: 1px black;
    color: white;
    float: inline-end;
    text-decoration: none; */
} 
.footer__escritos ul>li>a{
    text-decoration: none;
    display: block;
    padding: 2px 20px;
    color: white;
    float: inline-end;

}
.footer__escritos a:hover{
    background-color: black;
    transition: all 3s;
} 