* {
    font-family: 'Arvo', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
}
body{
    background-color: white;
}
/* header */
.cabecera {
    color: white;
    margin: auto;
    background-color: rgb(214, 164, 1);
 }
 .slogan{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;
    background-image: linear-gradient(to right, pink, orange, yellow);
 }
.logo{
    height: 70px; width: 70px;
   /* padding-right: 10px; */
}
.tituloPrincipal{
    text-align: center;
    font-weight: bold;
    color: black;
    /* margin: 20px; */
    line-height: 1em;
    font-size: 0.85em;
    font-family:'Plus Jakarta Sans', sans-serif; 
    font-weight: 900;
}
/* navegacion */
.barraNav{
    /* background-image: linear-gradient( to right, #060279,#5B57DE,#9694CD,#6A8ED1); */
    /* background-image: url(../imagenes/vistasuperior.jpg); */
    background-color: black;

    }
.barraNav ul { 
    list-style: none;                                         
    margin: 0;
    padding: 0px;
    border: 1px;
    border-style: none;
    text-align: center;
}
.barraNav ul li {
    display: inline-block;
    color: white;
}   
.barraNav ul li a{ 
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    color: white;
    float:inline-end;
    /* font-weight: bold; */
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}
.barraNav ul li a:hover{
    background-color: rgb(64, 64, 65);
}
.iconoWsp{
    width: 30px;
    height: 30px;
}
.footer__escritos{
    background-color: blue;
    padding: 1px;
}
.footer__escritos ul{
    list-style: none;
    margin: 2px;
    padding: 2px;
    border: 1px rgb(32, 199, 32);
    border-style: none;
    text-align: center;
}
.footer__escritos ul li{
    display: inline-block;
    color: white;
} 
.footer__escritos ul>li>a{
    text-decoration: none;
    display: block;
    padding: 2px 20px;
    color: white;
    float: inline-end;
}
.footer__escritos a:hover{
    background-color: white;
    transition: all 3s;
} 
