 h2{
    color: white;
    text-align:center;
    font-style: italic;
    font-size: 20px;
} 
.cuerpo__index{
    background-color: black;
}
.carrusel__pasado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    columns: 1rem;
    box-sizing: border-box;
}
.carrusel__actuales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    columns: 1rem;
    box-sizing: border-box;
}
.carrusel__futurista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
    columns: 1rem ;
    box-sizing: border-box;
}
@media only screen and (max-width:1160px) {
   .carrusel__pasado{
       grid-template-columns: 1fr 1fr;
   }
.carrusel__actuales{
    grid-template-columns: 1fr 1fr;     
    }
.carrusel__futurista{
    grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width:720px) {
   .carrusel__pasado{
       grid-template-columns: 1fr;
    }
    .carrusel__actuales{
    grid-template-columns: 1fr;    
    }
    .carrusel__futurista{
    grid-template-columns: 1fr;
    }
}
.galeria{
    width: 100%;
    height: 100%;
    margin: auto;
} 
