.cuerpo__modelos__disponibles{
    background-color: black;
}
.cuerpo__modelos__disponibles h3{
    text-align: center;
}
.cuerpo__modelos__disponibles{
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}
.carrusel__iveco{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: left;
    width:90vw; 
}
.carrusel__mercedes{
    display: flex;
    align-items: center;
    overflow-x:scroll ;
    width:90vw; 
}
.carrusel__scania{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width:90vw; 
}
.footer{
    background-color: blue;
    padding: 10px 10px;
    
}
.footer a{
    text-decoration: none;
    display: block;
    float: inline-end;
    text-align: center;
    border: 1px black;
    color: white;
}
.footer a:hover{
    background-color: black;
    transition: all 3s;
}