
.cuerpo__quienes__somos h1{ 
    text-align: center;
    color: black;
    margin: 30px;
    font-size: 40px;
    font-size: 1.25em;
    font-family:'Plus Jakarta Sans', sans-serif; 
   font-weight: 600; 
   font-weight: bold;  
} 
.parrafos_q{
    width: 80vw;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
    .parrafos_q p{
        text-align: justify;
        line-height: 1.5em;
        margin: 50px;
        font-size: 20px;
    }
