.parrafos p{
   /*  margin: 50px; */
    margin-top: 1px;
    text-align: center;
    line-height: 1.5em;
    font-size: 1px;
    font-weight: 100;
    /* font-weight: bold; */
    /* border-bottom: 5px; */
}
.cuerpo__quienes__somos h1{ 
    text-align: center;
    color: black;
    margin: 30px;
    font-size: 40px;
    font-size: 1.25em;
    font-family:'Plus Jakarta Sans', sans-serif; 
    font-weight: 600;
    font-weight: bold;
}
